@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
*{padding: 0; margin: 0; box-sizing: border-box}

body {
    background-color: #f1f3f6;
    font-family: Lato, Verdana, sans-serif;
    font-size: 14px;
    overflow: hidden;
}

a {
    color: #000000;
    text-decoration: none;
}

*:focus{
    outline: none;
}

input[type=button], input[type=submit]{
    cursor: pointer;
}

/* * * * * * * * * NAV * * * * * * * * */
.current-project{
    text-align: center;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: 300;
    color: #FFF;
    background-color: #666;
    /*margin-left: 100px;*/
    width: 100%;

}

.current-project input{
    background: url("../img/folder.png") no-repeat 2px 3px;
    background-size: 16px;
    width: 18px;
    height: 14px;
    margin-right: 2px;
    border: none;
    cursor: pointer;
    display: inline;
}

.current-project p{
    display: inline;
}

.current-project span{
    font-weight: 600;
}
#project-header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0;
    background-color: #666;

    z-index: 999;
}
/*
#project-header p:first-child {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: inline;
}

#project-header p:last-of-type {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #999;
    display: inline;
}
*/
#nav-wrapper {
    /*
    display: flex;
    justify-content: space-between;
    */
    padding: 0px;
    border-bottom: 0px solid #01345B;
    width: 100%;
    position: fixed;
    background-color: #fff;
    top: 0;
    z-index: 999;
    font-family: Montserrat, sans-serif;
    /*display: none;*/
}

nav {
    margin-right: 0%;
    /*
    text-transform: uppercase;
        letter-spacing: 0.05em;

    */
    font-size: 12px;
}

nav ul {
    list-style: none;
    display: inline-flex;
}

nav li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right:4px;
}

nav a {

    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 4px;
    margin-right: 4px;

    /*border: 1px solid #ececec;*/
    color: #ccc;
    font-weight: 300;
    letter-spacing: 0.05em;
}

nav a:hover {
    color: #333;
    box-shadow: inset 0px 0 0 red, inset 0 0px 0 red, inset 0px 0 0 #ececec, inset 0 -1px 0 #21c7c7;

}

.active:hover {
    color: #333;
    font-weight: 400;

}

.active {
    /*background-color: #f1f3f6;*/
    color: #333;
    font-weight: 400;
    box-shadow: inset 0px 0 0 red, inset 0 0px 0 red, inset 0px 0 0 #ececec, inset 0 -1px 0 #21c7c7;

}


/* * * * * * * * * CONTENT * * * * * * * * */
/* * * * * * TOOL * * * * * */
#tool-wrapper {
    border: 0 solid #ececec;
    margin-top: 50px;
}

.tool-header{
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    background-color: #FFFFFF;
    width: calc(100vw - 20px);
}

h2{
    font-weight: 200;
    font-size: 26px;
}

/* * * * * * * * * HOME * * * * * * * * */
#project {
    width: 100%;
    /*margin-top: 25%;*/
    display: flex;
    justify-content: space-between;

}

#project h2 {
    /*padding: 16px;*/
    text-align: center;

}

#project p{
    font-weight: 300;
    text-align: center;
    padding: 10px;
}

#project h3 {
    padding: 16px;
    font-weight: 300;
    font-size: 14px;
    text-align: center;

}

.project-left{
    box-sizing: border-box;
    width: 45%;
    height: calc(100vh - 140px);
    padding: 20px;
    margin: 20px;
    margin-top: calc(50vh - (250px));

}

.project-right{
    box-sizing: border-box;
    /*background-color: #fff;*/
    width: 45%;
    height: calc(100vh - 70px);
    padding: 20px;
    margin-right: 40px;
    margin-top: calc(50vh - (250px));

}

#project .no-project{
    margin-left: 30%;
    margin-top: calc(30vh);
    color: #999;
}

#project .no-project {
    background: url("../img/folder.png") no-repeat;
    background-size: 38px;
    background-position: 42px 13px;
}

#project .no-project p{
    text-align: left;
    padding-top: 50px;
}

.project-left div:first-of-type{
    margin-top: 20%;
}
/*
#project input[type=text]{
    box-sizing: border-box;
    margin: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 10px;
    border: 1px solid #ececec;
    width: 100%; /*50vw
    /*
    color: #666;
    font-weight: 300;
    font-size: 14px;
    border-radius: 2px;
}
*/

#project fieldset {
    border: none;
    text-transform: uppercase;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 0.05em;
    padding-top: 8px;
    margin-top: 10px;
}

#project label {
    padding-left: 2px;
    font-weight: 400;
    font-size: 12px;
    color: #333;
    display: block;
}


#project fieldset input{
    margin-top: 3px;
    margin-bottom: 12px;
}

#project fieldset input[type=button]{

}

#project fieldset input[type=text]{
    box-sizing: border-box;
    background: #FFF;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: left;
    font-weight: 300;
    border: 1px solid #dedede;
    width: 100%;
    border-radius: 2px;
    display: block;
    height: 40px;
}

/*
#project fieldset input[type=text]{
    box-sizing: border-box;
    background: #FFF;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: left;
    font-weight: 300;
    border: 1px solid #dedede;
    width: 100%;
    border-radius: 2px;
    display: block;
}
*/

#project input:valid{
    border-bottom: 1px solid #ccc;
}

#project .spanerror.active {
    font-size: 12px;
    text-transform: none;
    border: 1px solid #ffd8dd;
    position: relative;
    top: -10px;
    background-color: #FAEDED;
    color: red;
    padding: 5px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    box-shadow: none;
}

#project .spanerror, #project .spanerror-active  {
    margin-bottom: 10px;
}


#project input:invalid:focus{
    border-bottom: 1px solid red;
}

#project fieldset input[type=number]{
    box-sizing: border-box;
    background: #FFF;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: left;
    font-weight: 300;
    border: 1px solid #dedede;
    width: 100%;
    border-radius: 2px;
    display: block;
    height: 40px;
}

#project fieldset input:valid:focus{
    border: 1px solid #23d7d7; /*23d7d7*/

}

#project .project-browse{
    background: #21c7c7 url("../img/folder.png") no-repeat 10px 10px; /*21c7c7*/
    background-size: 16px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    display: block;
    text-align: left;
    color: #FFF;
    border-radius: 2px;
    border: 1px solid #1eb7b7;
    margin: 0;
}

#project .project-browse:hover {
    background-color: #23d7d7;

}

#project .input-field {
    justify-content: space-between;
    border: 1px solid #dedede;
    border-radius: 2px;
    margin-bottom: 4px;
    /*margin-top: 4px;*/
    margin-top: 0px;
    margin-bottom: 12px;

}



#project .filepath {
    display: block;
    margin-left: 2px;
    padding-top: 8px;
    padding-left: 4px;
    font-size: 12px;
    text-transform: none;
    font-weight: 300;
    color: #333333;
    /*color: #ccc;*/
    /*text-transform: lowercase;*/

}

#project .project-path{
    display: inline;

    padding: 10px;
    background-color: #FFF;
}

#project #save {
float: right;
border: 1px solid #9574ea;
background: #ab98f9;
color: #FFF;
padding: 10px;
border-radius: 2px;
width: 100px;
}

#project #save:hover {
    background: #9574ea;
}

#project .game-name::placeholder{
font-size: 22px;
color: #ccc;
}

#project .game-name:focus{
border-bottom: 1px solid #23d7d7;

}

#project span{
font-weight: 300;
text-transform: uppercase;
font-size: 12px;
letter-spacing: 0.05em;

}
#project .game-name{
background: none;
border: none;
font-family: 'Montserrat', sans-serif;
font-size: 42px;
text-align: left;
font-weight: 300;
padding-top: 20px;
padding-bottom: 30px;
border-bottom: 1px solid #ccc;
border-radius: 0;
width: 100%;
margin-bottom: 20px;
}

#project .project-left input[type=button]{
display: block;
margin: 10px;
padding: 16px;
width: 100%;
border: 1px solid #9574ea;
background: #ab98f9;
color: #FFF;
cursor: pointer;
text-transform: uppercase;
letter-spacing: 0.1em;
font-weight: 300;
font-size: 14px;
border-radius: 2px;

}

#project .project-left  input[type=button]:hover{
background: #9574ea;
}



/* * * * * * FORM * * * * * */
input {
    /*
    margin: 10px;
    */
    font-family: Lato, Verdana sans-serif;
    font-size: 0.9em;
}

.input-field {

    box-sizing: border-box;
    margin-bottom: 4px;
    /*margin-top: 4px;*/
    margin-top: 20px;

    width: 100%;
    background-color: #ffffff; /*ececec*/
    /*border: 1px solid #ccc;*/
    /*
    padding-top: 10px;
    padding-bottom: 10px;
    */
    /*border-radius: 4px;*/
    display:flex;

}

.input-field:nth-of-type(2) { /*@TODO add id like "compiler"*/
    margin-left: 120px;
}


/*
.input-field input[type=button] {
    /*
    border: 0px solid #999999;
    padding: 4px;
    background-color: #94ff6c;
    border-radius: 0;
    */
/*
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    border: 1px solid #21c7c7;


    border-radius: 4px 0 0 4px;
    width: 130px;
    background: #21c7c7 url("../img/folder.png") no-repeat;
    background-size: 18px;
    background-position: 12px 13px;
    padding-right: 18px;
    color: #FFFFFF;
    cursor: pointer;
}
*/

.input-field .browse {
    display: inline-block;
    padding: 16px 20px 16px 25px;
    margin-top: 3px;
    margin-bottom: 3px;

    border: 1px solid #21c7c7;
    border-radius: 20px; /*4,0,0,4*/
    background: #23d7d7;
    /*width: 130px;*/
    /*
    background: #21c7c7 url("../img/folder.png") no-repeat 10px 17px; /*21c7c7*/
    /*background-size: 16px;
    */
    color: #fff;
    cursor: pointer;

    /*
    font-family: Montserrat,sans-serif;
    font-weight: 300;
*/
    font-weight: 400;

    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    /*
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-size: 0.8em;
    */

}


.input-field .browse:hover {
    background-color: #21c7c7; /*#8d5dca*/
    color: #FFF;
}

.output-row{
    display: inline-block;
    border-bottom: 1px solid #d6d6d6;
    margin-left: 10px;
    width: 100%;
}

.refresh {
    display: inline;
    float: right;
    padding: 12px 0;
    border: 1px solid #ffffff;
    /*border-left: 1px solid #cccccc;*/
    /*border-radius: 0 4px 4px 0;*/
    border-radius: 0;
    border-bottom: 1px solid #21c7c7;
    width: 55px;
    background: #FFFFFF url("../img/refresh.png") no-repeat 11px 12px;
    background-size: 20px;
    cursor: pointer;
}


.filepath {
    display: block;
    margin-left: 2px;
    padding-top: 5px;
    font-size: 13px;
    font-weight: 300;
    color: #333333;
    /*color: #ccc;*/
    /*text-transform: lowercase;*/

}

.message{
    /*
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    */
    border-top: 1px solid #FFF;

    /*border-bottom: 1px solid #FFF;*/


}


.output-row label {
    display: inline;
    padding-left: 2px;
    font-weight: 400;
    font-size: 12px;
    color: #21c7c7;
}



.input-field:last-of-type {
    background-color: #FFF;
    border: none;

}

form input[type=text]{
    box-sizing: border-box;

    border: 1px solid #dedede;
    border-radius: 4px;
    margin-top: 4px;
    padding-left: 4px;
    height: 30px;
   /* width: 100%;*/
    background-color: #FFF;
    /*border-bottom: 2px solid #21c7c7;*/

}

.fileIndex input[type=text]{
    box-sizing: border-box;
    border: 1px solid #dedede;
    border-radius: 0;
    padding-left: 4px;
    height: 30px;
    background-color: rgba(255,255,255,0.9);
    width: 90%;

}

#compileBtn{
    padding: 14px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #21c7c7; /*#8d5dca*/
    color: #FFF;
    border: none;
    margin-right: 20px;
    border-radius: 20px;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    cursor: pointer;
    border: 1px solid #1eb7b7;
}

#compileBtn:hover{
    background-color: #23d7d7; /*#8d5dca*/

}

/* * * * * * FILEINDEX * * * * * */
.fileIndex {
    box-sizing: border-box;
    border: 0px solid #dedede;
    margin: 10px;
    margin-bottom: 20px;
    padding: 20px;
    position: absolute;
    top: 275px;
    bottom: 60px;
    width: calc(100vw - 20px);
    max-height: 100vh;
    overflow-y: auto;
    color: #393939;
    background-color: #FFFFFF;

}

.fileIndex h3 {
    padding-bottom: 6px;
}

.fileIndex input {
    margin: 4px;
}

table {
    width: 100%;
    /*border: 1px solid #ececec;*/
    border-collapse: collapse;

}

table img {
    cursor: pointer;
}

tr {
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ececec;

}

tbody:nth-child(even) {
    /*background-color: #f3f3f3;*/
}

tbody{
    border-bottom: 1px solid #dedede;
/*
    box-shadow: inset 0px 0 0 red, inset 0 0px 0 red, inset 1px 0 0 #ececec, inset 0 0px 0 red;
*/
}

tbody:hover{
    background-color: #ececec;
}

th{
    /*
    text-align: left;
    padding-left: 4px;
    */
    padding: 2px;
    /*
    border-right: 1px solid #cdcdcd;
    border-bottom: 1px solid #CDCDCD;
    */
    background-color: #ffffff;
    height: 30px;
    font-weight: 600;
    text-align: left;
    padding-left: 4px;
    border-bottom: 1px solid #ececec;
}
th:last-of-type{
    border-right: 0 solid #cdcdcd;
}

td:nth-child(1) {
    width: 10px;
    padding-left: 14px;
}

td:nth-child(2){
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
    text-align: left;

}

td:nth-child(3) {
    min-width: 60px;
    width: 20%;
}

td:nth-child(4) {
    min-width: 60px;
    max-width: 100px;
    text-align: right;
}


/*

.error.hidden:hover {
    background-color: #f4504e;
}

.warning.hidden:hover {
    background-color: #f9a938;
}

*/

.coll-cell {
    width: 40px;
    cursor: pointer;
    color: #FFFFFF;
}

.coll-cell:after {
    font-family: FontAwesome, sans-serif;
    content: '\f067';
    font-size: 10px;
    color: #333;
    margin-left: 16px;
}

.coll-active:after {
    content: '\f068';
}


.coll-cell span {
    font-size: 18px;
    color: #FFFFFF;
    padding: 20px;
}


.problems-container {
    /*display: none;*/
    padding: 10px;
}

.msg.error td {
    padding: 10px;
    padding-left: 40px;
    color: #ff000d;
    background: url('../img/error.png') no-repeat left;
    background-position: 13px 10px;
    background-size: 18px;
    background-color: #faeded;
    /*border-left: 6px solid #f4504e;*/
}

.msg.warning td {
    padding: 10px;
    color: #ff9a45;
    padding-left: 40px;
    background: url('../img/warning.png') no-repeat left;
    background-position: 13px 10px;
    background-size: 18px;
    background-color: #fffad7;

}



/* * * * * * ERROR/WARNING * * * * * */
tr:nth-child(even).error, tr:nth-child(odd).error {
    /*background-color: #ff5451; /*ff9c8b*/
    /*color: #FFF;
    cursor: pointer;*/
    /*border-left: 6px solid red;*/
/*
    background-color: #faeded;
    color: #ff000d;
    */
    box-shadow: inset 0px 0 0 red, inset 0 0px 0 red, inset 6px 0 0 #ff5451, inset 0 0px 0 red;

}

tr.error .coll-cell:after {
    color: #666; /*ff5451*/
}


tr:nth-child(even).warning, tr:nth-child(odd).warning {
    /*background-color: #ffae38;
    color: #FFF;
    cursor: pointer;*/
    box-shadow: inset 0px 0 0 red, inset 0 0px 0 red, inset 6px 0 0 #ffae38, inset 0 0px 0 red;
}

tr.warning .coll-cell:after {
    color: #666; /*ffae38*/
}

tr .coll-cell:after {
    color: #ffffff;
}
/*
tr .coll-cell:hover:after {
    color: #ececec;
}
*/

/* * * * * * * * * FOOTER * * * * * * * * */
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
    position: fixed;
    background-color: #FFF;
    bottom: 0;
    z-index: 999;
    padding-top: 12px;
    border-top: 1px solid #ececec;
}

.footer img{
    margin-top: 15px;
    width: 16px;
}

.footer span{
    padding-top: 5px;
}

.footer p {
    display: inline;
    padding: 0;
}


.footer div {
    display: inline;
}

.msg {
    padding-left: 20px;
}

.problems-error{
    background: url("../img/error.png") no-repeat;
    background-size: 18px;
    padding-left: 20px;
}

.problems-warning{
    background: url("../img/warning.png") no-repeat;
    background-size: 18px;
    padding-left: 20px;
}

/* * * * * * * * * IGNORE * * * * * * * * */
.ignored {
    color: #bbbbbb !important;
    font-style: italic;
}

.ignored input[type=text] {
    color: #bbbbbb;
    font-style: italic;
}

tr:nth-child(odd).ignored {
    background-color: #FFFFFF;
}

tr:nth-child(even).ignored{
    background-color: #ececec;
}

/******************[REFERENCE...]******************/
/* * * * * * * * * CHECKBOX * * * * * * * * */
.check-container {
    position: relative;
    display: block;
    padding-left: 35px;
    margin: 5% 0 6%;
    padding-top: 1%;
    cursor: pointer;

}

/* Hide the browser's default checkbox */
.check-container input, .container-food-type input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

}

.checkmark {
    position: absolute;
    top: -6px;
    left: 0;
    height: 14px;
    width: 14px;
    border: 1px solid #dedede;
    border-radius: 2px;
    background-color: #fff;
}


.check-container:hover input ~ .checkmark {
    background-color: #666;

}

.check-container input:checked ~ .checkmark {
    background-color: #FFFFFF;
    color: #999999;
    border: 1px solid #cccccc;


}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-container input:checked ~ .checkmark:after {
    display: block;
}

.check-container .checkmark:after {
    left: 4px;
    top: 2px;
    width: 3px;
    height: 5px;
    border: solid #333;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



/***********/

.dialog-error{
    background:  url("../img/error.png") no-repeat 10px 10px; /*21c7c7*/
    background-size: 26px;
    padding: 10px;
    padding-left: 50px;
}

.dialog{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    overflow: auto;

    /*
        margin: 200px;
        color: red;
        background-color: #FFF;
        text-align: center;
        */
}


.dialog-container{
    position: relative;
    margin: 0 auto;
    left: 0;
    width: 400px;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    /*height: 200px;*/
    /*height: 100%;*/
    padding: 10px;
    background-color: #FFF;
    overflow: auto;
    display: block;
    border-radius: 4px;
    border: none;


    /*
        margin: 200px;
        color: red;
        background-color: #FFF;
        text-align: center;
        */
}


.dialog-header{
    box-sizing: border-box;
    display: block;
    border-bottom: 1px solid #ececec;
    width: 100%;
    padding: 10px;

}

.dialog-header h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.dialog-footer{
    box-sizing: border-box;
    display: block;
    border-top: 1px solid #ececec;
    width: 100%;

    padding: 10px;


    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 0;
}

.dialog-footer input{
    padding: 10px;
    width: 100px;
    background-color: #FFF;
    border: 1px solid #ececec;
    /*
    background-color: #ab98f9;
    border: 1px solid #9574ea;
    */
    border-radius: 2px;
    margin-left: 5px;

}

.dialog-footer input:last-of-type {
    background-color: #ab98f9;
    border: 1px solid #9574ea;
    color: #FFF;
}


.dialog fieldset {
    border: none;
    text-transform: uppercase;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 0.05em;
    padding-top: 8px;
    margin-top: 10px;
}

.dialog label {
    padding-left: 2px;
    font-weight: 400;
    font-size: 12px;
    color: #333;
    display: block;
}


.dialog fieldset input{
    margin-top: 3px;
    margin-bottom: 12px;
}

.dialog fieldset input[type=button]{

}

.dialog fieldset input[type=text]{
    box-sizing: border-box;
    background: #FFF;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: left;
    font-weight: 300;
    border: 1px solid #dedede;
    width: 100%;
    border-radius: 2px;
    display: block;
    height: 40px;
}

input:valid{
    border-bottom: 1px solid #ccc;
}

.dialog .spanerror.active {
    font-size: 12px;
    text-transform: none;
    border: 1px solid #ffd8dd;
    position: relative;
    top: -10px;
    background-color: #FAEDED;
    color: red;
    padding: 5px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    box-shadow: none;
}

.dialog .spanerror, .dialog .spanerror-active  {
    margin-bottom: 10px;
}


input:invalid:focus{
    border-bottom: 1px solid red;
}

.fileIndex input:required:invalid{
    border-bottom: 1px solid red;

}

input:invalid{
    border-bottom: 1px solid red;
}

fieldset input[type=number]{
    box-sizing: border-box;
    background: #FFF;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: left;
    font-weight: 300;
    border: 1px solid #dedede;
    width: 100%;
    border-radius: 2px;
    display: block;
    height: 40px;
}

.dialog fieldset input:valid:focus{
    border: 1px solid #23d7d7; /*23d7d7*/

}

.dialog .project-browse{
    background: #21c7c7 url("../img/folder.png") no-repeat 10px 10px; /*21c7c7*/
    background-size: 16px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    display: block;
    text-align: left;
    color: #FFF;
    border-radius: 2px;
    border: 1px solid #1eb7b7;
    margin: 0;
}

.dialog .project-browse:hover {
    background-color: #23d7d7;

}
.dialog .input-field {
    justify-content: space-between;
    border: 1px solid #dedede;
    border-radius: 2px;
    margin-bottom: 4px;
    /*margin-top: 4px;*/
    margin-top: 0px;
    margin-bottom: 12px;

}

.dialog .filepath {
    display: block;
    margin-left: 2px;
    padding-top: 8px;
    padding-left: 4px;
    font-size: 12px;
    text-transform: none;
    font-weight: 300;
    color: #333333;
    /*color: #ccc;*/
    /*text-transform: lowercase;*/

}

.dialog .project-path{
    display: inline;

    padding: 10px;
    background-color: #FFF;
}

.dialog #save {
    float: right;
    border: 1px solid #9574ea;
    background: #ab98f9;
    color: #FFF;
    padding: 10px;
    border-radius: 2px;
    width: 100px;
}

.dialog #save:hover {
    background: #9574ea;
}

.dialog .game-name::placeholder{
    font-size: 22px;
    color: #ccc;
}

.dialog .game-name:focus{
    border-bottom: 1px solid #23d7d7;

}

.dialog span{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.05em;

}
.dialog .game-name{
    background: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    text-align: left;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    width: 100%;
    margin-bottom: 20px;
}


#project .recent-projects {

}

#project .recent-projects h3 {
    font-weight: 400;
    font-size: 1em;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    padding: 0;
    padding-left: 4px;
    margin-bottom: 10px;
    border-left: 2px solid #000;

}

#project .recent-projects a > div {
    background-color: #ebebeb;
    margin-bottom: 0.5em;
    padding: 1em;
}

#project .recent-projects a > div:hover {
    color: #ccc;/*
    background-color: #e7e7e7;*/
}

#project .recent-projects p {
    padding: 0;
    text-align: left;
}